name: build2

on: [push, pull_request]

jobs:

  # Job for building on Ubuntu
  Ubuntu:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
          - name: Ubuntu gcc
            os: ubuntu-latest
            compiler_cc: gcc
            compiler_cxx: g++
          - name: Ubuntu clang
            os: ubuntu-latest
            compiler_cc: clang
            compiler_cxx: clang++

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: build2/setup-build2-github-action@v2
        with:
          build2-version: staged
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libx11-dev libxrandr-dev libudev-dev libglu1-mesa-dev freeglut3-dev mesa-common-dev
      - name: Configure
        run: bdep init -C @${{matrix.config.compiler_cc}} cc config.cxx=${{matrix.config.compiler_cxx}}
      - name: Build
        run: b -V

  # Job for building on MacOS
  MacOS:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
          - name: MacOS clang
            os: macos-latest
            compiler_cc: clang
            compiler_cxx: clang++

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: build2/setup-build2-github-action@v2
      with:
        build2-version: staged
    - name: Configure
      run: bdep init -C @${{matrix.config.compiler_cc}} cc config.cxx=${{matrix.config.compiler_cxx}}
    - name: Build
      run: b -V

  # Job for building on Windows
  Windows:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
            - name: Windows msvc
              os: windows-latest
              compiler_cc: msvc
            - name: Windows clang
              os: windows-latest
              compiler_cc: clang
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: build2/setup-build2-github-action@v2
      with:
        build2-version: staged
        build2-windows-compiler: ${{matrix.config.compiler_cc}}
    - name: Configure
      run: bdep init -C ../sfml-${{matrix.config.compiler_cc}} @${{matrix.config.compiler_cc}}
    - name: Build
      run: b -V
